mynote
index


<body>
	<h1>My Notes</h1>
	<%= flash[:notice] %>

	<% @my_notes.each do |my_note| %>
		<div>
			<%= link_to note_path(my_note.note_id) do %>

				<div>
					<p><%= my_note.note.title %></p><br>

					<p><%= my_note.note.overview %></p><br>

					<p><%= my_note.note.user.name %></p><br>

					<p><%= my_note.created_at.strftime("%Y-%m-%d %H:%M") %></p>

				</div>
			<% end %>
		</div>
	<% end %>


</body>