user
index


<body>
  <table class="table table-stryped">
          <thead>
             <h2>User info</h2>
          </thead>

             <tbody>
            <tr>
              <th>ユーザー名<br>
                <%= @user.name %></th>
            </tr>
            <tr>
              <th>プロフィール<br>
                <%= @user.profile %></th>
            </tr>
            <tr>
              <th>グレード<br>
                <%= @user.grade %></th>
            </tr>
            <tr>
              <th>メールアドレス<br>
                <%= @user.email %></th>
            </tr>
            <tr>
              <th>会員状況<br>
                <%= @user.is_member %></th>
            </tr>
            <tr>
              <th>保有ポイント<br>
                <%= @user.holding_point %></th>
            </tr>
            <tr>
              <th>メルマガ配信状況<br>
                <%= @user.is_delivery %></th>
            </tr>
            <tr>
              <th>月額料金<br>
                <%= @user.fee_category %></th>
            </tr>
            <tr>
              <th>電話番号<br>
                <%= @user.phone_number %></th>
            </tr>
           </tbody>
        </table>
</body>