
<body>
	<table class="table table-stryped">
          <thead>
             <h2>User info</h2>
             <%= flash[:notice] %>
          </thead>
             <tbody>
            <tr>
              <th>ユーザー名<br>
              	<%= @user.name %></th>
            </tr>
            <tr>
              <th>プロフィール<br>
              	<%= @user.profile %></th>
            </tr>
            <tr>
              <th>グレード<br>
              	<%= @user.grade %></th>
            </tr>
            <tr>
              <th>投稿Note数<br>
                <%= @user.total_notes %></th>
            </tr>
            <tr>
              <th>総レビュー数<br>
                <%= @user.total_reviews %></th>
            </tr>
            <tr>
              <th>レビューの平均値<br><!--小数点以下3桁目を四捨五入-->
                <%= @user.average_quality.round(2) %></th>
            </tr>
            <tr>
              <th>追記希望への返信率<br><!--%で表示、小数点以下二桁目四捨五入-->
                <%= number_to_percentage(@user.reply_rate, precision: 1) %></th>
            </tr>
           </tbody>

           <tboody>
            <% if @user == current_user %>
            <tr>
              <th>メールアドレス<br>
                <%= @user.email %></th>
            </tr>
            <tr>
              <th>会員状況<br>
                <%= @user.is_member %></th>
            </tr>
            <tr>
              <th>保有ポイント<br>
                <%= @user.holding_point %></th>
            </tr>
            <tr>
              <th>メルマガ配信状況<br>
                <%= @user.is_delivery %></th>
            </tr>
            <% if @user.is_member == "有料会員" %>
            <tr>
              <th>加入プラン<br>
                  <%= @subscription.plan.name %></th>
            </tr>
            <% end %>
            <tr>
              <th>電話番号<br>
                <%= @user.phone_number %></th>
            </tr>
            <%= link_to "ユーザー情報を変更する", edit_user_path(current_user.id) %>
            <% end %>
          </tboody>
        </table>
</body>