
<div class="main">
	<div class="point-container">
		<div class="point-charactor">
			
		</div>
		<div class="point-status">
			<div class="point-status-name">
				@points = Points.where(user_name: <%= link_to current_user.name, user_path(current_user.id),id:"user-name-name" %>
			</div>
			<div class="point-status-point">
				あなたの保有Pointは<%= current_user.holding_point %>Pointです
			</div>
			<div class="point-button">
				&lt;%= link_to
        		<%= link_to '"Add_Point"', new_point_path, id:"points"%>
        		%&gt;
			</div>
		</div>
		<div class="point-all">
			<% @points.each do |point| %>
				<div class="point-one">
					<div class="point-created-date">
						<%= point.created_at.strftime("%Y-%m-%d %H:%M") %>
					</div>
					<div class="point-point">
						@points += <%= point.point %>
					</div>
					<div class="point-reason">
						reason:<%= point.reason %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	<%= paginate @points, class: "paginate" %>
</div>
