point
new


<body>
	<div>
		ポイントを追加購入する。
	</div>

	<div>
		<p>¥100 で　100Point 購入</p>
		<%= form_for (@point) do |f| %>
			<%= f.hidden_field :point, value: 100 %><br>
  			<%= f.submit '購入する' %>
  	 	<% end %>
	</div>

	<div>
		<p>¥200 で　220Point 購入</p>
		<%= form_for (@point) do |f| %>
			<%= f.hidden_field :point, value: 220 %><br>
  			<%= f.submit '購入する' %>
  	 	<% end %>
	</div>


	<div>
		<p>¥300 で　360Point 購入</p>
		<%= form_for (@point) do |f| %>
			<%= f.hidden_field :point, value: 360 %><br>
  			<%= f.submit '購入する' %>
  	 	<% end %>
	</div>

</body>