users
bookmark
index

<!--ブックマークはログイン必須-->
<%= flash[:notice] %>

<body>
	<h1>Bookmarked Notes</h1>

	<% @bookmarks.each do |bookmark| %>
	<%= link_to note_path(bookmark.note_id) do %>
		<div>
			<p><%= bookmark.note.title %></p><br>

			<p><%= bookmark.note.overview %></p><br>

			<p><%= bookmark.note.user.name %></p><br>

			<p><%= bookmark.created_at %></p>

			<p><%= link_to 'Bookmarkから削除', bookmark_path(bookmark), method: :delete, data: { confirm: '本当に削除しますか?' } %></p>

		</div>
	<% end %>
	<% end %>


</body>