<div class="postscript-main">
	<div class="postscript-container">
		<div class="review-one">
			<div class="review-quality">
				<%= @review.quality %>
			</div>
			<div class="review-review">
				<%= @review.review %>
			</div>
			<div class="review-user">
				<%= link_to @review.user.name, user_path(@review.user) %>
			</div>
			<span class="review-created-date">
				<%= @review.created_at.strftime("%Y-%m-%d %H:%M") %>
			</span>
		</div>
		<div class="note-preview-container">
			<div class="left">
				追記
			</div>
			<div class="right">
				プレビュー
			</div>
			<%= form_for ([@note, @postscript]) do |f| %>
				<%= f.hidden_field :review_id, value: @review.id, require: true %>
				<%= f.hidden_field :note_id, value: @note.id, require: true %>
				<div class="note-content-post">
					<%#id=editorはマークダウン記法適用に使用%>
					<div id='editor'>
						<%= f.text_area :postscript, "v-model" => "input", class:"note-form-content"%>
						<%#ここにプレビュー表示%>
						<div class="preview" v-html='input | marked'>
						</div>
					</div>
				</div>
				<input type="submit" value="追記を投稿する" class="note-button">
			<% end %>
		</div>
	</div>
</div>
<script type="text/javascript">
	window.onload = function() {
		new Vue({
			<%#contentのtext_areaのid%>
			el: '#editor',
			data: {
				<%#保持しているデータは@note.content%>
				input: '<%= j @postscript.postscript %>',
				},
			filters: {
				marked: marked,
				},
		});
	};
</script>