user
notes
index

<body>
	<h1>Serch Notes</h1>
	<%= search_form_for @search do |f| %>
  <%= f.search_field :title_or_overview_or_content_or_reviews_review_or_postscripts_postscript_cont %>

  <%= f.submit "検索" %>
<% end %>

	<% @notes.each do |note| %>
			<div>
				<p><%= note.is_browsable_guest %></p><br>

				<% if note.view_point != 0 %><!--ポイントが必要なら表示、無料記事はdefault0が投稿時に入る-->
					<p><%= note.view_point %>ポイント</p><br>
				<% end %>

				<p><%= link_to note.title, note_path(note) %></p><br>

				<p><%= render_with_hashtags(note.overview) %></p><br>

				<p><%= link_to note.user.name, user_path(note.user.id) %></p><br>
				<p><%= note.created_at.strftime("%Y-%m-%d %H:%M") %></p><br>
			</div>
	<% end %>



</body>