user
note
new

<body>
	<div>新規投稿</div>
	<%= form_for(@note) do |f| %>

	<div>
		<label>閲覧設定</label>
		<%= f.radio_button :is_browsable_guest, :"無料会員閲覧可能記事" %> 無料会員閲覧可能記事
  		<%= f.radio_button :is_browsable_guest, :"有料会員限定記事" %> 有料会員限定記事
  	</div>

	<div>
		<label>閲覧ポイント設定</label><!-- 閲覧設定が1(無料記事)の場合は0が入るようにする -->
		<%= f.number_field :view_point, in:0..500 %>ポイント
	</div>

	<div>
		<label>タイトル</label>
		<%= f.text_field :title %>
	</div>

	<dir>
		<label>ハッシュタグと概要</label>
		<%= f.text_field :overview %>
	</dir>

	<!-- ハッシュタグ６つまで選択可能にする -->


	<div id='editor'>
		<label>内容</label><!--Markdown&SyntaxHighlightを適応させる-->
						  <!--リアルタイムライブプレビューを実装する-->
		<%= f.text_area :content, "v-model" => "input"%>
		<div v-html='input | marked'></div>
	</div>



	<%= f.submit '投稿する' %>
	<% end %>




	<!-- リアルタイムプレビュー -->
<script type="text/javascript">
	window.onload = function() {
		new Vue({
			el: '#editor',
			data: {
				input: '<%= j @note.content %>',
				},
			filters: {
				marked: marked,
				},
		});
	};
</script>



</body>

