user
note
show

<body>
	<% if @note.user == current_user %>
		これはあなたが投稿したNoteです。
		<%= link_to 'Noteを編集する', edit_note_path(@note) %>
		<%= link_to 'Noteを削除する', notes_path, method: :delete, data: { confirm: 'Are you sure?' } %><!--論理削除-->
	<% end %>

	<div>
		<p><%= @note.is_browsable_guest %></p><br><!--左上にオシャレに表示、無料＝青、有料＝黄色、ポイント＝金 -->

		<p><%= @note.view_point %></p><br>
	</div>
	<div>
		<p><%= @note.title %></p><br>
		<p><%= @note.overview %></p><br>


		<!--- 選択したハッシュタグを表示 -->

<!--以下モデルに書くべき？　モデルで定義=>本文タグ内をモザイク画像に置き換え＆リンクを貼る　ビューで定義=>JSでモザイク加工あるはず
そもそも考え方としてNoteの性質（モデル）？それとも表示条件（ビュー）？

	if 有料記事
		=>モザイク

		if 有料会員＆my_noteに追加済み、もしくは投稿者
			=>表示
		else (無料会員と有料会員でもmy_noteに追加していないもの)
			=>モザイク
		end

	else（無料記事）とadmin_user
		=>表示
	end
-->
		<p><%= @note.content %></p><br><!--モザイク処理の上に購入かどうか書きたいのでリンクは一旦保留-->

	</div>


	<div>

						<!--ログインの確認=> 投稿者の確認=> ブックマーク追加済みか否かの確認-->
	<!--ユーザーがログインしているかの確認-->
	<% if user_signed_in? %>

		<!--投稿者の確認-->
		<% if @note.user != current_user %><!--通常処理(閲覧中のNoteが他人の投稿である場合)-->

			<!--ユーザーがブックマーク追加済みかどうかわかるようにする-->
			<% if @note.user != current_user %><!--通常処理（ブックマーク追加していないNoteの場合)-->
				<%= form_for(@bookmark) do |f| %>
					<%= f.hidden_field :note_id, value: @note.id %>
					<%= f.hidden_field :user_id, value: current_user.id %>
					<%= f.submit "Bookmarkに追加" %>
				<% end %>

			<% else %><!--ブックマーク追加済みの場合の処理-->
				<p>Bookmark済みのNoteです</p>
				<%= link_to "Bookmarkを確認する", bookmarks_path %>

			<% end %>

		<% end %>

	<% else %><!--ログインしていないユーザーの処理-->
		<%= link_to "Bookmarkに追加", new_user_session_path %><!--routing確認新規登録が望ましい-->

	<% end %>
	</div>


</body>