user
note
show

<body>
	<div>
		<p><%= @note.is_browsable_guest %></p><br><!--左上にオシャレに表示、無料＝青、有料＝黄色、ポイント＝金 -->

		<p><%= @note.view_point %></p><br>
	</div>
	<div>
		<p><%= @note.title %></p><br>
		<p><%= @note.overview %></p><br>

<!--これはモデルに書くべき？　モデルで定義=>本文タグ内をモザイク画像に置き換え＆リンクを貼る　ビューで定義=>JSでモザイク加工あるはず
そもそも考え方としてNoteの性質（モデル）？それとも表示条件（ビュー）？

	if 有料記事
		=>モザイク

		if 有料会員＆my_noteに追加済み、もしくは投稿者
			=>表示
		else (無料会員と有料会員でもmy_noteに追加していないもの)
			=>モザイク
		end

	else（無料記事）とadmin_user
		=>表示
	end
-->
		<p><%= @note.content %></p><br><!--モザイク処理の上に購入かどうか書きたいのでリンクは一旦保留-->

	</div>


</body>