<!DOCTYPE html>
<html>
  <head>
    <title>Railscope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
      <header class="nav navbar-inverse row">
        <div><h1><%= link_to 'Railscope', notes_path %></h1></div>
        <div>
          <div>
            <div class="links col-md-7">
              <% if user_signed_in? %>
                <%= link_to current_user.name, user_path(current_user),class: "btn btn-primary" %></button>
                <%= link_to 'Notes', notes_path, class: "btn btn-primary" %></button>
                <%= link_to 'Bookmarks', bookmarks_path, class: "btn btn-primary" %></button>
                <%= link_to 'My Notes', my_notes_path, class: "btn btn-primary" %></button>
                <%= link_to 'Point', points_path, class: "btn btn-primary" %></button>
                                <%= button_to "ログアウト", destroy_user_session_path, class: "btn btn-primary", method: :delete %>

              <% else %>
                <%= link_to "sign in", new_user_session_path, class: "btn btn-primary" %></button>
                <%= link_to "sign up", new_user_registration_path, class: "btn btn-primary" %></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer style="margin-top:5em;">
      <div class='container1'>
        <div class='row'>
          <div class='col-xs-3 col-xs-offset-9'>
            <p></p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>